.main
  %canvas#myChart{height: "400", width: "900"}
  :javascript
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: gon.date,
        datasets: [{
          label: "累計生産数",
          data: gon.cumulative_production,
          type: 'line',
          yAxisID: "y-axis-2",
          fill: false,
          borderColor: 'rgba(52, 147, 255, 1.0)',
        },{
          label: "予想",
          data: gon.prediction,
          type: 'line',
          fill: false,
          yAxisID: "y-axis-2",
           borderColor: 'rgba(125, 215, 135, 1.0)',
        },{
          label: "生産数",
          data: gon.production,
          backgroundColor: 'rgba(255, 99, 132, 1.0)',
          borderColor: 'rgba(255, 50, 132, 1.0)',
          fill: false,
          categoryPercentage: 1,
          yAxisID: "y-axis-1",
        }]
      },
      options: {
        title:  {
          display: true,
          text: "今日の生産数"
        },
        scales: {
          xAxes:[{
            categoryPercentage: 1,
          }],
          yAxes: [{
            id: "y-axis-1",
            type: "linear",
            position: "left",
            scaleLabel: {
              display: true,
              labelString: "一時間当たりの生産数",
              fontSize: 14,
              fontColor: 'rgba(255, 99, 132, 1.0)'
            },
            ticks: {
              beginAtZero:true
            }
          },{
            id: "y-axis-2",
            type: "linear",
            position: "right",
            scaleLabel: {
              display: true,
              labelString: "累計生産数",
              fontSize: 14,
              fontColor: 'rgba(52, 147, 255, 1.0)'
            },
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });