.main__product__line__name__select__box {
  padding-bottom: 10px;
  position: relative;
}

#production_line_id {
  position: absolute;
  height: 40px;
  width: 130px;
  font-size: 30px;
  margin-bottom: 20px;
  top: 4px;
  left: 4px;
}
