.main__product__line__name__select__box {
  padding-bottom: 10px;
  position: relative;
}

#production_line_id {
  position: absolute;
  height: 40px;
  width: 130px;
  font-size: 30px;
  margin-bottom: 20px;
  top: 4px;
  left: 4px;
}

.main__product__explain {
  @include font-setting($deep_blue,28px,bold);
  @include frame_border($deep_blue,solid,5px);
  display: inline-block;
  margin-top: 30px;
  padding: 15px 10px;
}
