.login{
  @include square-setting(100vw,100vh,$light_blue);
  display: flex;
  justify-content: center;
  .contents {
    position: relative;
    &__title {
      @include font-setting($deep_blue,36px,bold);
      text-align:center;
      background: $off_white;
      padding: 10px 20px;
      margin: 30px 0;
      border-radius: 10px;
      position: relative;
      .search {
        position: absolute;
        @include font-setting(nil,30px,bold);
        @include square-setting(100px,50px,$yellow);
        line-height: 50px;
        text-align: center;
        border-radius: 10px;
        left: 370px;
        top: 12px;
        &__btn {
          text-decoration: none;
          color: $deep_blue;
          padding: 6px 20px;
        }
      }
    }
    &__lines-list {
      @include square-setting(320px,500px,$off_white);
      overflow: scroll;
      display: flex;
      padding: 10px;
      flex-direction: column;
      border-radius: 10px;
      &__line {
        @include font-setting(nil,30px,bold);
        @include square-setting(nil,50px,$yellow);
        margin: 0 auto;
        line-height: 50px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 10px;
        &__btn {
          @include square-setting(200px,100%,nil);
          text-decoration: none;
          color: $deep_blue;
          padding: 20px 50px;
        }
      }
    }
  }
}