.index {
  display: flex;
  background:$off_white;
  .form {
    width:450px;
    padding: 5px;
    &__info {
      display: flex;
      margin-top: 10px;
      margin-left: 30px;
      line-height: 50px;
      &__date {
        @include square-setting(150px,50px,nil);
        line-height: 50px;
        border-radius: 5px;
      }
      &__post {
        border-radius: 30px;
        margin-left: 40px;
        line-height: 50px;
        &__btn {
          @include font-setting($deep_blue,22px,bold);
          background: $yellow;
          text-decoration: none;          
          border-radius: 10px;
          padding: 7px 10px;
        }
      }
    }
    &__table {
      margin-top: 15px;
      margin-left: 10px;
      padding: 0px;
      font-size: 17px;
      text-align: center;
      font-weight: bold;
      th,td {
        border: solid 0.5px;
        border-color: $deep_blue;
        padding: 1px 5px;
      }
      tr:nth-child(odd) {
        background-color:  #dddddd;
      }
      .input_area {
        padding: 0px;
      }
    }
  }
  .main {
    width: 100%;
    &__product {
      padding: 20px;
      height: 150px;
      &__line {
        display: flex;
        &__name {
          @include square-setting(118px,28px,nil);
          @include frame_border($deep_blue,solid,5px);
          padding: 10px;
          line-height: 30px;
          font-size: 30px;
          text-align: center;
        }
        .main__product__info__perbox {
          @include square-setting(130px,28px,nil);
          @include frame_border($deep_blue,solid,5px);
          padding: 10px;
          line-height: 30px;
          font-size: 30px;
          text-align: center;
          margin-left: 150px;
        }
      }
      &__info {
        display: flex;
        margin-top: 30px;
        &__code {
          @include font-setting(black,34px,bold);
          @include square-setting(238px,48px,nil);
          @include frame_border($deep_blue,solid,5px);
          padding: 10px 10px;
          line-height: 48px;
          letter-spacing: 10px;
          text-align: center;
          &__num {
            width: 225px;
            letter-spacing: 7px;
          }
        }
        &__name {
          @include font-setting(black,30px,bold);
          @include square-setting(450px,48px,nil);
          @include frame_border($deep_blue,solid,5px);
          line-height: 50px;
          margin-left: 30px;
          padding: 10px 20px;
        }
      }
    }
    &__graph {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 190px);
      position: relative;
      &__image {
        @include square-setting(800px,450px,nil);
      }
      &__explain {
        position: absolute;
        top: 0;
        left: 20px;
        width: 700px;
      }
    }
  }
}

.input_number {
  @include square-setting(33px,15px,nil);
}

