
.index {
  display: flex;
  background:#EFEBDD;
  .form {
    width:450px;
    // background: yellow;
    padding: 5px;
    &__info {
      display: flex;
      margin-top: 10px;
      margin-left: 30px;
      line-height: 50px;
      &__date {
        // background: coral;
        height: 50px;
        width: 150px;
        line-height: 50px;
        border-radius: 5px;
      }
      &__post {
        border-radius: 30px;
        margin-left: 40px;
        line-height: 50px;
        &__btn {
          background: #eee273;
          color: #004970;
          font-size: 22px;
          text-decoration: none;          
          border-radius: 10px;
          padding: 7px 10px;
        }
      }
    }
    &__table {
      margin-top: 15px;
      margin-left: 10px;
      padding: 0px;
      // background: brown;
      font-size: 17px;
      text-align: center;
      font-weight: bold;
      th,td {
        border: solid 0.5px;
        border-color: #004970;
        padding: 1px 5px;
      }
      tr:nth-child(odd) {
        background-color:  #ddd;    /* 背景色指定 */
      }
      .input_area {
        padding: 0px;
      }
    }
  }
  .main {
    // background: red;
    width: 100%;
    &__product {
      // background: blue;
      padding: 20px;
      height: 150px;
      &__line {
        display: flex;
        &__name {
          height: 28px;
          width: 118px;
          // background: yellow;
          padding: 10px;
          line-height: 30px;
          font-size: 30px;
          text-align: center;
          border-radius: 5px;
          border-style: solid;
          border-color: #004970;
        }
        .main__product__info__perbox {
          height: 28px;
          width: 130px;
          // background: yellow;
          padding: 10px;
          line-height: 30px;
          font-size: 30px;
          text-align: center;
          border-radius: 5px;
          border-style: solid;
          border-color: #004970;
          margin-left: 150px;
        }
      }
      &__info {
        display: flex;
        margin-top: 30px;
        &__code {
          height: 48px;
          width: 238px;
          // background: yellowgreen;
          padding: 10px 10px;
          line-height: 48px;
          font-size: 34px;
          letter-spacing: 10px;
          font-weight: bold;
          text-align: center;
          border-radius: 5px;
          border-style: solid;
          border-color: #004970;
          &__num {
            width: 225px;
            letter-spacing: 7px;
          }
        }
        &__name {
          height: 48px;
          width: 450px;
          line-height: 50px;
          // background: gray;
          margin-left: 30px;
          padding: 10px 20px;
          font-size: 30px;
          border-radius: 5px;
          border-style: solid;
          border-color: #004970;
        }
      }
    }
    &__graph {
      display: flex;
      align-items: center;
      justify-content: center;
      // background: yellowgreen;
      height: calc(100vh - 190px);
      &__image {
        // background: cadetblue;
        height: 450px;
        width: 800px;
      }
    }
  }
}

.input_number {
  width: 33px;
  height: 15px;
}

